/* You can add global styles to this file, and also import other style files */

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js');


:root {
  --primary: #2b6777;
  --secondary: #c8d8e4;
  --third: #52ab98;
  --gray: #f2f2f2;
  --lightgray: #ccd0d5;
  --darkgray: #606469;
  --yellow: #ffc01e;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body {
  margin: 0;
}

.primary-button {
  padding: 1% 1.5%;
  border-radius: 10px;
  border-color: transparent;
  font-weight: bold;
  color: white;
  background-color: var(--third);
}

.secondary-button {
  padding: 1% 1.5%;
  border-radius: 10px;
  border-color: var(--third);
  border-style: solid;
  font-weight: bold;
  color: var(--third);
  background-color: white;
}

.shadow {
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25) !important;
}
