/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #2b6777;
  --secondary: #c8d8e4;
  --third: #52ab98;
  --gray: #f2f2f2;
  --darkgray: #ccd0d5;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body {
  margin: 0;
}
