input {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  width: 90%;
  margin: 2%;
  margin-left: 1%;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  padding: 0.7% 0%;
  margin-bottom: 2%;
}

.main-icon {
  border-color: transparent;
  background-color: transparent;
  font-size: xx-large;
  font-weight: bold;
  color: var(--primary);
}

.left-side {
  display: flex;
  padding-left: 2%;
  align-items: center;
  width: 40%;
}

.right-side {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: flex-end;
}

.search-bar {
  background-color: var(--gray);
  border-color: transparent;
  border-radius: 20px;
  margin-left: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-button {
  padding: 1% 1.5%;
  border-radius: 10px;
  border-color: transparent;
  font-weight: bold;
  color: white;
  background-color: var(--third);
}

.secondary-button {
  padding: 1% 1.5%;
  border-radius: 10px;
  border-color: var(--third);
  border-style: solid;
  font-weight: bold;
  color: var(--third);
  background-color: white;
}

.tertiary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5% 1.5%;
  border-radius: 30px;
  border: none;
  color: var(--primary);
  background-color: var(--gray);
}



.popover{
  max-width: 420px;
}

#popover-contained {
  background-color: var(--gray);
}

.booking-overlay {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.booking-overlay h3{
  color: var(--primary);
  font-size: 24px;
}

.booking-overlay .popover-header {
  background-color: white;
  border-width: 0px;
  width: 100%
}

.booking-overlay .popover-body {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
}
.booking-overlay .popover-body #place-hover-empty-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  padding: 50px;
  flex-direction: column;
  gap: 20px
}

.booking-overlay .popover-body #place-hover-empty-image img {
  width: 100%;
}

.booking-overlay .popover-body #place-hover-empty-image p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.booking-overlay .popover-body::-webkit-scrollbar {
  width: 8px;
}

.booking-overlay .popover-body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  /* border-width: 1px;
  border-style: solid;
  border-color: var(--lightgray); */
}

.booking-overlay .popover-body::-webkit-scrollbar-thumb {
  background-color: var(--lightgray);
  border-radius: 10px;
  /* border-width: 1px;
  border-style: solid;
  border-color: var(--lightgray); */
}

.booking-overlay .popover-body::-webkit-scrollbar-thumb:hover {
  background-color: var(--darkgray);
}

.booking-card {
  background-color: white;
  border-radius: 4px;
  border-width: 2px;
  /* border-color: #FBE2C5; */
  padding: 6px;
  border-style: solid;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.25) !important;
}

.booking-card:hover {
  background-color: var(--gray);
}

.booking-card p {
  font-size: 12px;
  color: var(--darkgray);
}

.booking-card #header {
  padding: 0px;
  display: flex;
  gap: 10px;
}

.booking-card #header p {
  margin: 0px;
}

.booking-card hr {
  margin: 0px;
}

.booking-card #info-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.booking-card #info-section #text-zone{
  display: flex;
  flex-direction: column;
}

.booking-card #info-section #text-zone h3{
  font-size: 18px;
  color: var(--darkgray);
  margin: 0px;
  font-weight: 500;
}

.booking-card #info-section #text-zone p{
  margin: 0px;
}

.booking-card #info-section #button-zone{
  /* height: 100%; */
  display: flex;
  gap: 10px;
}

.booking-card #info-section #button-zone button{
  height: 100%;
  color: white;
  background-color: var(--yellow);
  border-radius: 4px;
  border-width: 1px;
  border-color: var(--yellow);
  border-style: solid;
  padding: 0px 10px;
  transform: 0.2;
}

.booking-card #info-section #button-zone #approve-button {
  height: 100%;
  color: white;
  background-color: var(--third);
  border-radius: 4px;
  border-width: 1px;
  border-color: var(--third);
  border-style: solid;
  padding: 0px 10px;
  transform: 0.2;
}

.booking-card #info-section #button-zone #reject-button {
  height: 100%;
  color: white;
  background-color: var(--warning);
  border-radius: 4px;
  border-width: 1px;
  border-color: var(--warning);
  border-style: solid;
  padding: 0px 10px;
  transform: 0.2;
}

.booking-card #info-section #button-zone button:hover{
  background-color: transparent;
  color: var(--yellow);
}

.booking-card #info-section #button-zone #approve-button:hover{
  background-color: transparent;
  color: var(--third);
}

.booking-card #info-section #button-zone #reject-button:hover{
  background-color: transparent;
  color: var(--warning);
}

.booking-card ul {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.booking-card ul li{
  font-size: 12px;
}