.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  padding: 0.7% 0%;
  margin-bottom: 2%;
}

.main-icon {
  border-color: transparent;
  background-color: transparent;
  font-size: xx-large;
  font-weight: bold;
  color: var(--primary);
}

.left-side {
  display: flex;
  padding-left: 2%;
  align-items: center;
  width: 40%;
}

.right-side {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}

.search-bar {
  background-color: var(--gray);
  border-color: transparent;
  border-radius: 20px;
  /* padding: 2%; */
  margin-left: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  width: 90%;
  margin: 2%;
  margin-left: 1%;
}
