input {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  width: 90%;
  margin: 2%;
  margin-left: 1%;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  padding: 0.7% 0%;
  margin-bottom: 2%;
}

.main-icon {
  border-color: transparent;
  background-color: transparent;
  font-size: xx-large;
  font-weight: bold;
  color: var(--primary);
}

.left-side {
  display: flex;
  padding-left: 2%;
  align-items: center;
  width: 40%;
}

.right-side {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: flex-end;
}

.search-bar {
  background-color: var(--gray);
  border-color: transparent;
  border-radius: 20px;
  margin-left: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-button {
  padding: 1% 1.5%;
  border-radius: 10px;
  border-color: transparent;
  font-weight: bold;
  color: white;
  background-color: var(--third);
}

.secondary-button {
  padding: 1% 1.5%;
  border-radius: 10px;
  border-color: var(--third);
  border-style: solid;
  font-weight: bold;
  color: var(--third);
  background-color: white;
}

.tertiary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5% 1.5%;
  border-radius: 30px;
  border: none;
  color: var(--primary);
  background-color: var(--gray);
}

.popover{
  max-width: 420px;
}
#popover-contained {
  background-color: var(--gray);
}

.booking-overlay h3{
  color: var(--primary);
  font-size: 24px;
  width: 420px;
}
.booking-overlay .popover-header{
  background-color: white;
  border-width: 0px;
}
.booking-overlay .popover-body{
  padding: 5px;
  gap: 5px;
}