worker_processes 4; # Heroku dynos have at least four cores.

server {
  listen       $PORT;
  listen  [::]:$PORT;
  server_name  localhost;
  location / {
    root   /etc/nginx/dist;
    index  index.html index.htm;
  }
}