.request-title{
    color: var(--primary);
    font-size: x-large;
    font-weight: bold;
}

.request-header{
    color: var(--darkgray);
    font-size: larger;
    text-align: left;
}

div.modal-content{
    border-radius: 10px;
}