.search-page-card {
    width: 100%;
    border-radius: 8px;
    border-color: var(--lightgray);
    border-style: solid;
    border-width: 1px ;
    padding: 10px;
    margin: 12.5px 0px;
    box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.25) !important;
    /* background-color: black; */
}
#search-page-hover-card:hover {
    background-color: var(--gray);
}
/* .search-page-card:hover {

} */
.add-filter-button {
    width: 20%;
    border-width: 0px;
    border-radius: 4px;
    background-color: #5d5fef;
    color: white;
}
.add-filter-button:hover {
    width: 20%;
    /* border-width: 1px; */
    border-radius: 4px;
    /* border-color: ; */
    background-color: #4547f0;
    color: white;
}

img.tutor-card-img {
    object-fit: cover;
    width:140px;
    height:140px;
    border-radius: 5px;
}

@media only screen and (max-width: 560px) {
    img.tutor-card-img {
        width:0px;
        height:0px;
    }
}

hr {
    border: transparent;
    border-top: 1px solid var(--darkgray);
    width: 100%;
    margin: 0px
}

.form-check-input:checked {
    background-color: var(--third);
    border-color: var(--third);
}

.apply-filter-button {
    padding: .375rem .75rem;
    border-width: 0px;
    border-radius: 4px;
    background-color: var(--third);
    color: white;
}

.apply-filter-button:hover {
    background-color: var(--primary);
}