.report-list-container {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px; 
    padding: 0px 20px;
    width: 720px; 
}

@media only screen and (max-width: 720px) {
    .report-list-container {
        width: 100%;
    }
}

.report-card {
    display: flex;
    flex-direction: column;
    background-color: white;

    border-style: solid;
    border-width: 1px;
    border-color: var(--lightgray);
    border-radius: 8px;
    
    padding: 8px;
    margin: 0px 3px;

    box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.25) !important;

    transition: 0.2s;
    /* border-color: var(--lightgray); */
}

.report-card:hover {
    margin: 0px 0px;
    background-color: var(--gray);
    /* animation-iteration-count: infinite; */
}

.report-card p {
    margin: 0px;
    color: var(--darkgray);
}

.report-card .header {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.report-card .header p{
    font-size: 16px;
    color: var(--darkgray);
}

.report-card hr {
    margin: 0px;
    color: var(--darkgray);
    opacity: 1;
}

.report-card .body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2px 0px;
}

.report-card .body #report-target {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.report-card .body #report-target p{
    font-weight: 400;
    font-size: 24px;
    color: var(--darkgray);
}

.report-card .body #reporter {
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
}

.gap5 {
    gap: 5px;
}

.report-detail-modal p {
    color: var(--darkgray);
    margin: 0px;
}

.report-detail-modal #id-text {
    font-size: 12px;
    font-weight: 300;
    color: var(--darkgray);
}

.report-detail-modal .reporting-name p{
    font-size: 24px;
    font-weight: 550;
}

.report-detail-modal .reporter-name p{
    font-size: 16px;
}

.report-detail-modal .image-zone {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-style:dashed;
    border-width: 1px;
    border-radius: 4px;
    border-color: var(--darkgray);
    padding: 15px;
}

.report-detail-modal .image-zone img {
    height: 100%;
    width: auto;
}

.report-detail-modal .report-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: var(--lightgray);
    padding: 15px;
}