a {
    text-decoration: none;
    color: white;
    cursor: default;
    background-color: var(--third);
    padding: 5px 0px;
    font-size: 24px;
    border-radius: 50px;
    font-family: roboto;
    font-weight: bold;
    display: inline-block;
    width: 12.5%;
    margin-right: 37.5%;
    margin-bottom: 20px;
}

.header{
    color: var(--primary);
    font-size: 24px;
    font-weight: medium;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 2%;
}

.header-desc{
    color: #606469;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 1px solid #B0B4BA;
}

.normal{
    color: #606469;
    font-size: 18px;
    font-weight: normal;
    width: 30%;
    display: inline-block;
    margin: 20px 0px;
    margin-left: 2%;
    vertical-align: text-top;
}

.upload{
    width: 60%;
    display: inline-block;
}

.upload-text{
    color: var(--third);
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
    margin: 20px 0px;
    margin-left: 5%;
    vertical-align: text-top;
}

.submit{
    text-decoration: none;
    color: white;
    cursor: default;
    background-color: var(--third);
    padding: 5px 0px;
    font-size: 24px;
    border-radius: 50px;
    font-family: roboto;
    font-weight: bold;
    display: inline-block;
    width: 12.5%;
    margin-left: 37.5%;
    margin-bottom: 20px;
}

.group-content{
    text-align: left;
    background-color: white;
    border: 1px solid #B0B4BA;
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
}

.upload-image{
    vertical-align: text-top;
    width: 100%;
    height: auto;
    margin: 20px 0px;
}

.inside-line{
    margin: 0px 2%;
    border-bottom: 1px solid #B0B4BA;
}

.inside-line .normal{
    margin-left: 0px;
    width: 31.25%;
}