* {
    font-family: Roboto;
}

button#dropdown-basic-button{
    width: 100%;
}
.page-container {
    background-color:white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row;  
    width: 100%;
    height: 80vh;
}
.regispage-left-side {
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
    width: 440px;
    /* justify-content: flex-end; */
}

.tutoreal-icon {
    color: var(--primary);
     
    font-size: 96px;
    font-weight:900;
    margin-bottom: 0px;
    margin-top: 0px;
}

.tutoreal-desc {
    color: var(--third);
     
    font-size: 24px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}

.sponser {
    color: var(--third);
     
    font-size: 24px;
    font-weight:400;
    margin-top: 0px;
    margin-right: 15px;
}

.regispage-right-side {
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    width: 440px;
}

.text-input {
     
    font-size:18px ;
    margin-left: 100;
}

.text-input-border {
    display: flex;
    background-color: var(--gray);
    height: 41px;
    width: 98%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--darkgray);
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;
}

#mini-group {
    width: 100%; 
    display: flex; 
    align-items: flex-start; 
    flex-direction: column;
    margin-bottom: 10px;
}

#mini-label {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--third);
     
}

